{% extends "layout.html.twig" %}

{% block contenu %}


      <div class="pull-left"><img height=250 src="img/accueil.jpg"/></div>
      <div class="pull-left">
        <h1>Site démo !!</h1>
        <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque finibus est ac dui eleifend dignissim. Curabitur auctor sed nulla in varius. Curabitur auctor blandit dolor, eget viverra metus efficitur id. Praesent cursus fringilla mi, sit amet dapibus lacus maximus in. Ut sagittis tortor ut magna congue, vel ultrices arcu sodales. Mauris a felis varius, commodo nunc cursus, pretium tortor. Sed egestas vitae odio eu commodo. Donec nibh nibh, tristique id condimentum non, pretium sed ligula. Etiam vel ligula sed tortor cursus sagittis ac sed massa. Donec id risus faucibus, vehicula libero nec, gravida diam. Proin pretium massa libero, ac rhoncus dolor vestibulum eget. Donec vitae vestibulum erat. Maecenas justo arcu, eleifend vitae pharetra et, finibus quis nulla. Suspendisse eu tellus feugiat, elementum tortor rutrum, dapibus nisl.</P>  
        <P>In vel nisl ac neque porttitor fermentum. Suspendisse fringilla eget justo id euismod. Integer egestas eros est. Nulla facilisi. Curabitur vitae massa sollicitudin nibh fringilla gravida. Vivamus vitae orci pretium dolor consectetur cursus. Duis pulvinar, mi et semper dignissim, sem nisl convallis ipsum, sit amet faucibus ipsum nibh sit amet nibh. Praesent consectetur justo a rhoncus mattis. Suspendisse potenti. Morbi vitae viverra lectus. Proin hendrerit odio eget finibus ultricies.</P>  
        <P>Nulla mauris mauris, condimentum sed bibendum at, maximus quis magna. Vestibulum consequat laoreet erat a tempor. Nulla sed nulla eros. Suspendisse tristique arcu sed volutpat aliquam. Cras sit amet velit felis. Nulla pulvinar venenatis imperdiet. Donec blandit ultricies odio lacinia laoreet. Vestibulum ultricies dapibus lectus, id sagittis nunc lobortis et. Aenean nunc felis, hendrerit ac turpis eget, tincidunt suscipit nisl. Mauris et lectus eu nibh congue posuere sed sit amet leo. Pellentesque rutrum ut mi nec condimentum. Suspendisse bibendum nunc vel leo pharetra ullamcorper. Etiam urna risus, imperdiet eget pretium a, commodo nec tellus.</P>  
      </div>
  
{% endblock %}