{% extends "layout.html.twig" %}

{% block contenu %}

    <ul>
        <li>Titre : {{ livre.titre }}</li>
        <li>Auteur : {{ livre.auteur }}</li>
    </ul>
    
    
  {{ dump(commentaires) }}
  
{% endblock %}
