{% extends "layout.html.twig" %}

{% block contenu %}

  <ul>
  {% for livre in livres %}
    <li><a href="/site/livre/{{ livre.id }}">{{ livre.titre }}</a></li>  
  {% endfor %}
  </ul>
  
{% endblock %}